{% extends 'layout.html.twig' %}

{% block title %}Блог{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="m-4">Список пользователей</h2>
        <p><strong>ROLE_ADMIN:</strong> admin@mail.com / 12345 <a href="{{ path('sonata_admin_dashboard') }}">войти в
                админку</a></p>
        <p><strong>ROLE_USER:</strong> user1@mail.com / 12345</p>
        <p><strong>ROLE_USER:</strong> user2@mail.com / 12345</p>
        <hr>

        <h2 class="m-4">API</h2>
        <p>HTTP авторизация - <em>curl -u username:password</em></p>

        <h3 class="text-center">Статьи</h3>
        <p class="text-primary">&#187; GET: /api/posts</p>
        <p>Параметры:</p>
        <ul>
            <li><strong>page</strong> - int, default = 1</li>
            <li><strong>limit</strong> - int, default = 5</li>
        </ul>
        <p class="text-primary">&#187; POST: /api/post/add</p>
        <p>Тело запроса:</p>
<pre>
    <code>
    'title'    => 'Post title',
    'slug'     => 'Post slug',
    'content'  => 'Content html'
    </code>
</pre>
        <p class="text-primary">&#187; POST: /post/<strong>{post_id}</strong>/rate</p>
        <p>Тело запроса:</p>
<pre>
    <code>
    'rating'  => 1 to 5
    </code>
</pre>
        <p class="text-primary">&#187; DELETE: /api/post/<strong>{post_id}</strong>/remove</p>

        <h3 class="text-center">Комментарии</h3>
        <p class="text-primary">&#187; GET: /api/post/<strong>{post_id}</strong>/comments</p>
        <p class="text-primary">&#187; POST: /post/<strong>{post_id}</strong>/comment/add</p>
        <p>Тело запроса:</p>
        <pre>
    <code>
    'content'  => 'Comment message'
    </code>
</pre>
        <p class="text-primary">&#187; DELETE: /api/post/<strong>{comment_id}</strong>/remove</p>
    </div>


{% endblock %}
