{% extends 'profile/layout.html.twig' %}

{% block title %}Добавить статью{% endblock %}

{% block content %}
    <div class="container mt-4">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Добавить статью">
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
